html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url('/public/img/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
 
  /* width: 900px; 
  height: 750px;  */
}
 


h1 {
  color: darkgreen;

}
#character {
  position: absolute; 
  top: 150px; 
  left: 450px; 
  background-image: url("/public/img/down1.png"); 
  width: 59px; 
  height: 86px;
}
