@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: "zenzai_itacharegular";
  src: url("zenzai-webfont.woff2") format("woff2"),
    url("zenzai-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

body {
  background-image: url("/public/img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "zenzai_itacharegular";
}

#ninja {
  background-image: url("/public/img/down1.png");
  position: absolute;
  top: 180px;
  left: 920px;
  width: 59px;
  height: 86px;
}

.bullet {
  width: 15px;  /* width/height: must be exact pic size */
  height: 15px;
  position: absolute;
  background-image: url("/public/img/shit.png"); 
  /* background-image: url("/public/img/shuriken.png"); */
}

/*///////////////////////////////////////////
////                buttons             ///*/  
.btn,
.info-modal {
  width: 40px;
  height: 20px;
  display: inline-block;
  text-align: center;
  opacity: 0.6;
  transition: 0.3s;
  color: black;

  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  font-size: 1.2rem;

  outline: none;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.info-modal {
  margin-left: 10px;
  padding: 1rem;
  background-color: greenyellow;
  text-align: center;
}

#plus-btn,
#minus-btn {
  background-color: #05aae2;
}

.btn:hover,
.btn:hover,
.info-modal:hover {
  opacity: 1;
}

/*///////////////////////////////////////////
////        speed control section      ///*/
.speed-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.speed-controls-logo {
  display: flex;
  align-items: baseline;
}

.info-box {
  font-size: 2rem;
  color: #05aae2;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 30px;
  right: 0;
}

.info-box p {
  color: white;
  padding: 0;
  margin: 0.5em;
}

/*///////////////////////////////////////////
////        pop up info section         ///*/
.modal {
  position: fixed;
  top: 10%;
  left: 30%;
  width: 40%;
  z-index: 100;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  animation: float-in 0.3s ease-out forwards;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.modal h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.modal p {
  margin: 2rem;
  padding: 2rem;
  line-height: 3rem;
}

#backdrop {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.75);
  display: none;
  pointer-events: none;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}

/*///////////////////////////////////////////
////          media queries            ///*/
@media (max-width: 1250px) {
  body {
    background-image: url("/public/img/bg_1024.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 850px) {
  body {
    background-image: url("/public/img/sorry.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .info-box {
    display: none;
  }

  #ninja {
    display: none;
  }
}